IRC user authentification

(Previously discussed [here](https://github.com/lokedhs/hanabi/commit/ed0ffc09f821f7e446248a8ad7a639a2d33f443a))

It would be great to be able to authenticate IRC users. I see two ways to do it :
  * Using the `PASS` command ([RFC1459, section 4.4.1](https://tools.ietf.org/html/rfc1459#section-4.1.1))
  * Using a virtual `NickServ` user

@lokedhs is currently working on it.

The main requirement that I have is to be able to plug in an arbitrary handler into Hanabi which can handle everything from authentication to reception and sending of messages. In my case, the authentication handler calls the backend system to verify the password.

What I did was to add a config option that specifies the name of a module whose functions are called in order to check the password. However, a better way is probably to have a GenServer which can then be called to perform various operations.

I would like to keep `PASS` for a server-wide password. 

An handler for a virtual user looks that way : 

```
defmodule MyApp.NickServ do
  alias Hanabi.User
  use GenServer

  def start_link() do
    GenServer.start_link(__MODULE__, nick)
  end

  def init(nick) do
    # register itself as the `nickserv` user.
    user = %User{
      key: :nickserv,
      type: :virtual,
      pid: self(),
      nick: "NickServ",
      username: "nickserv",
      realname: "Nickname Server",
      hostname: "localhost"
    }

    User.add(user)
    {:ok, user}
  end

  def handle_info(%Message{}=msg, state) do
    # do stuff

    {:noreply, test}
  end

  # catch-all, used for debugging
  def handle_info(msg, state) do
    IO.inspect msg

    {:noreply, state}
  end
end
```

If the received message is a `PRIVMSG` you just have to parse `msg.trailing` for a password and update the `user` struct with something like `registered: true` if it's correct.

What do you think ? 