Beyond RFC1459 : RFC281{0,1,2,3}

There are multiple revisions of the IRC protocol : 
  * RFC 2810
  * RFC 2811
  * RFC 2812
  * RFC 2813

Note about tests : The `ExIrc` library used for testing use >RFC1459 specifications, including the use of the numeric reply `RPL_WELCOME 001`. It would be interesting to implement those revisions in order to improve compatibility. 

I would like to keep hanabi as simple as possible, so I don't think it would be interesting to implement those revisions (**at least for now**).

As specified in 562ae9cb873b51fce0fc99696044a7032033a674.